# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ------[add by myself]------
# Directory
.vscode/
3rdlib/
build-x86_64-gcc-release/
build-x86_64-gcc-debug/
build-arm64-gcc-release/
build-arm64-gcc-debug/
release-x86_64-gcc-release/
release-x86_64-gcc-debug/
release-arm64-gcc-release/
release-arm64-gcc-debug/



# File
pbgz
